body {
  font-family: sans-serif;
  background: #111;
  margin: 0 0;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  color: green;
}

h2 {
  text-align: center;
  color: #f83600;
  margin-top: 1rem;
  text-transform: uppercase;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: initial;
      flex-wrap: initial;
  box-flex: auto;
  margin-top: -0.5rem;
  margin-left: 0;
  margin-right: 0;
}

.circular-progress {
  margin: auto;
}
.circular-progress, .circular-progress:before, .circular-progress:after {
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
}
.circular-progress:before, .circular-progress:after {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

/*grosor de arcos indicadores*/
.circular-progress:before {
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
    /*porcentaje*/   
  font-size: 2rem;
  line-height: 150px;
}

/*fecha*/
.circular-progress:after {
  text-align: center;
  font-size: 1.15rem;
  line-height: 6.5rem;
}

.ayer {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, yellow), color-stop(50%, rgba(255, 255, 0, 0.2)));
  background: linear-gradient(0deg, yellow 50%, rgba(255, 255, 0, 0.2) 50%);
}
.ayer:before, .ayer:after {
  color: yellow;
}
.ayer:before {
  content: "2";
  background: #111 content-box;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.ayer:after {
  content: "06/09/2022";
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #111));
  background: linear-gradient(transparent 50%, #111 50%);
  -webkit-transform: scale(1.1) rotate(-90deg);
          transform: scale(1.1) rotate(-90deg);
}

.hoy {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, red), color-stop(50%, rgba(255, 0, 0, 0.2)));
  background: linear-gradient(0deg, red 50%, rgba(255, 0, 0, 0.2) 50%);
}
.hoy:before, .hoy:after {
  color: red;
}
.hoy:before {
  content: "1";
  background: #111 content-box;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.hoy:after {
  content: "07/09/2022";
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #111));
  background: linear-gradient(transparent 50%, #111 50%);
  -webkit-transform: scale(1.1) rotate(-45deg);
          transform: scale(1.1) rotate(-45deg);
}

.manana {
  -webkit-transform: rotate(120.06deg);
          transform: rotate(120.06deg);
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, yellow), color-stop(50%, rgba(255, 255, 0, 0.2)));
  background: linear-gradient(0deg, yellow 50%, rgba(255, 255, 0, 0.2) 50%);
}
.manana:before, .manana:after {
  color: yellow;
}
.manana:before {
  content: "2";
  background: #111 content-box;
  -webkit-transform: rotate(-120.06deg);
          transform: rotate(-120.06deg);
}
.manana:after {
  content: "08/09/2022";
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #111));
  background: linear-gradient(transparent 50%, #111 50%);
  -webkit-transform: scale(1.1) rotate(-120.06deg);
          transform: scale(1.1) rotate(-120.06deg);
}

.pasado {
  -webkit-transform: rotate(72deg);
          transform: rotate(72deg);
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, yellow), color-stop(50%, rgba(255, 255, 0, 0.2)));
  background: linear-gradient(0deg, yellow 50%, rgba(255, 255, 0, 0.2) 50%);
}
.pasado:before, .pasado:after {
  color: yellow;
}
.pasado:before {
  content: "2";
  background: #111 content-box;
  -webkit-transform: rotate(-72deg);
          transform: rotate(-72deg);
}
.pasado:after {
  content: "09/09/2022";
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #111));
  background: linear-gradient(transparent 50%, #111 50%);
  -webkit-transform: scale(1.1) rotate(-72deg);
          transform: scale(1.1) rotate(-72deg);
}

.pasadop {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, red), color-stop(50%, rgba(255, 0, 0, 0.2)));
  background: linear-gradient(0deg, red 50%, rgba(255, 0, 0, 0.2) 50%);
}
.pasadop:before, .pasadop:after {
  color: red;
}
.pasadop:before {
  content: "0";
  background: #111 content-box;
  -webkit-transform: rotate(-0deg);
          transform: rotate(-0deg);
}
.pasadop:after {
  content: "12/09/2022";
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #111));
  background: linear-gradient(transparent 50%, #111 50%);
  -webkit-transform: scale(1.1) rotate(-0deg);
          transform: scale(1.1) rotate(-0deg);
}

@property --p{
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
  } 
  /* grosor ind mensual*/
  .pie {
    text-transform: uppercase;
    text-align: center;
    --p:20;
    /*grosor*/
    --b:16px;
    /*cicunferencia*/
    --w:160px;
    
    width:var(--w);
    aspect-ratio:1;
    position:relative;
    display:inline-grid;
    margin:2px;
    place-content:center;
    /*letra*/
    font-size:18px;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  .pie:before,.pie:after {
    content:"";
    position:absolute;
    border-radius:50%;
  }

  .pie:before {
    inset:0;
    background:
      radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
      conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
            mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
  }
  .pie:after {
    inset:calc(50% - var(--b)/2);
    background:var(--c);
    transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
  }
  .animate {
    animation:p 1s .5s both;
    color:#eee;
  }
  @keyframes p {
    from{--p:0}
  } 
  table.tableizer-table {
    text-transform: uppercase;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background: #111;
    color: #eee;
  }
  .tableizer-table td, td, th {
    text-align: center;
    text-align: left;
  }
  /*colocacion de tabla*/
  .tableizer-table{
    text-align: left;
    margin-left: 1rem;
    width: 82%;
    border-spacing: .5rem;
    background-color: #111;
  }

.nav-ajusted{
  max-width: 1200px;
  margin-top: -0.5rem;
  margin-bottom: -1rem;
}

.nav-ajusted_table{
  max-width: 1200px;
  margin-top: -15rem;
}

.nav-ajusted_mensual{
  max-width: 992px;
  margin-left: 75rem;
  margin-top: -14rem;
}