body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background: #2c3e50
}

h1 {
    text-align: center;
    color: green;
    font-size: 35px;
}

h2 {
    text-align: center;
    color: #f83600;
    text-transform: uppercase;
    font-size: 30px;
}

h3{
  margin-left: 500px;
  margin-top: 270px;
  text-align: left;
  color:#f83600;
  text-transform: uppercase;
  font-size: 35px;
}

.skills {
    display: flex;
    flex-wrap: initial;
    box-flex: auto;
    margin-left: 5rem;
    margin-right: 0
}

.circular-progress {
    margin: auto
}

.circular-progress,
.circular-progress:before,
.circular-progress:after {
    width: 14rem;
    height: 14rem;
    border-radius: 70%
}

.circular-progress:before,
.circular-progress:after {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center
}

.circular-progress:before {
    padding: 1rem;
    -webkit-box-sizing: border-box;
        box-sizing: border-box;
    font-size: 2.5rem;
    line-height: 10rem;
}

.circular-progress:after {
    text-align: center;
    font-size: 1.4rem;
    line-height: 7rem;
}

.ayer {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, red), color-stop(50%, rgba(255, 0, 0, 0.2)));
  background: linear-gradient(0deg, red 50%, rgba(255, 0, 0, 0.2) 50%);
}
.ayer:before, .ayer:after {
  color: red;
}
.ayer:before {
  content: "0";
  background: #2C3E50 content-box;
  -webkit-transform: rotate(-0deg);
          transform: rotate(-0deg);
}
.ayer:after {
  content: "27/01/2023";
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #2C3E50));
  background: linear-gradient(transparent 50%, #2C3E50 50%);
  -webkit-transform: scale(1.1) rotate(-0deg);
          transform: scale(1.1) rotate(-0deg);
}

.hoy {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, green), color-stop(50%, rgba(0, 128, 0, 0.2)));
  background: linear-gradient(0deg, green 50%, rgba(0, 128, 0, 0.2) 50%);
}
.hoy:before, .hoy:after {
  color: green;
}
.hoy:before {
  content: "1";
  background: #2C3E50 content-box;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.hoy:after {
  content: "30/01/2023";
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #2C3E50));
  background: linear-gradient(transparent 50%, #2C3E50 50%);
  -webkit-transform: scale(1.1) rotate(-180deg);
          transform: scale(1.1) rotate(-180deg);
}

.manana {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, red), color-stop(50%, rgba(255, 0, 0, 0.2)));
  background: linear-gradient(0deg, red 50%, rgba(255, 0, 0, 0.2) 50%);
}
.manana:before, .manana:after {
  color: red;
}
.manana:before {
  content: "0";
  background: #2C3E50 content-box;
  -webkit-transform: rotate(-0deg);
          transform: rotate(-0deg);
}
.manana:after {
  content: "31/01/2023";
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #2C3E50));
  background: linear-gradient(transparent 50%, #2C3E50 50%);
  -webkit-transform: scale(1.1) rotate(-0deg);
          transform: scale(1.1) rotate(-0deg);
}

.pasado {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, red), color-stop(50%, rgba(255, 0, 0, 0.2)));
  background: linear-gradient(0deg, red 50%, rgba(255, 0, 0, 0.2) 50%);
}
.pasado:before, .pasado:after {
  color: red;
}
.pasado:before {
  content: "0";
  background: #2C3E50 content-box;
  -webkit-transform: rotate(-0deg);
          transform: rotate(-0deg);
}
.pasado:after {
  content: "01/02/2023";
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #2C3E50));
  background: linear-gradient(transparent 50%, #2C3E50 50%);
  -webkit-transform: scale(1.1) rotate(-0deg);
          transform: scale(1.1) rotate(-0deg);
}

.pasadop {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, red), color-stop(50%, rgba(255, 0, 0, 0.2)));
  background: linear-gradient(0deg, red 50%, rgba(255, 0, 0, 0.2) 50%);
}
.pasadop:before, .pasadop:after {
  color: red;
}
.pasadop:before {
  content: "0";
  background: #2C3E50 content-box;
  -webkit-transform: rotate(-0deg);
          transform: rotate(-0deg);
}
.pasadop:after {
  content: "02/02/2023";
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #2C3E50));
  background: linear-gradient(transparent 50%, #2C3E50 50%);
  -webkit-transform: scale(1.1) rotate(-0deg);
          transform: scale(1.1) rotate(-0deg);
}

table.tableizer-table {
    text-transform: uppercase;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: #eee
}

.tableizer-table {
    text-align: left;
    margin-left: 15rem;
    width: 90%;
    border-spacing: .5rem;
    background-color: #2c3e50
}

@property --p {
    syntax: "<number>";
    inherits: true;
    initial-value: 0
}

.pie {
    text-transform: uppercase;
    text-align: center;
    --p: 10px;
    --b: 20px;
    --w: 300px;
    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    margin: 5px;
    place-content: center;
    font-size: 35px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif
}

.pie:before,
.pie:after {
    content: "";
    position: absolute;
    border-radius: 50%
}

.pie:before {
    inset: 0;
    background: radial-gradient(farthest-side, var(--c) 98%, rgba(0, 0, 0, 0)) top/var(--b) var(--b) no-repeat, conic-gradient(var(--c) calc(var(--p) * 1%), rgba(0, 0, 0, 0) 0);
    -webkit-mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(99% - var(--b)), #000 calc(100% - var(--b)));
    mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(99% - var(--b)), #000 calc(100% - var(--b)))
}

.pie:after {
    inset: calc(50% - var(--b)/2);
    background: var(--c);
    transform: rotate(calc(var(--p) * 3.6deg)) translateY(calc(50% - var(--w) / 2))
}

.animate {
    -webkit-animation: p 1s .5s both;
    animation: p 1s .5s both;
    color: #eee
}

@-webkit-keyframes p {
    from {
        --p: 0
    }
}

@keyframes p {
    from {
        --p: 0
    }
}

.nav-ajusted {
    max-width: 1500px;
    margin-top: -0.5rem;
    margin-bottom: -16rem;
}

.nav-ajusted_table {
    max-width: 700px;
    margin-bottom: 0;
    margin-top: -37rem;

}

.nav-ajusted_mensual {
    max-width: 300px;
    margin-left: 75rem;
    margin-top: 50px;
}

.GREEN{
  color: green;
}

.RED{
  color: red;
}

.YELLOW{
  color: yellow;
}

.FECHA{
  font-size: 25px;
  color: red;
}

.FECHA1{
  font-size: 25px;
  color: yellow;
}

.FECHA2{
  font-size: 25px;
  color: green;
}

.encabezado{
  font-size: 30px;
}
/*# sourceMappingURL=actualizado.css.map */