.contenedor{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

th, td{
    padding: 10px;
}

.tabla{
    display: flex;
    justify-content: center;
    margin-left: 30px;
}

.titulo{
    font-weight: 900;
    font-size: 20px;
    font-style: bold;
    color: blue;
}

.info{
    display: flex;
    font-size: 20px;
    font-style: bold;
    color: #000;
}

.text{
    color: #f4791f;
    font-size: 45px;
    font-style: italic;
    padding-left: 60px;
}

.title{
    color: #000;
    font-size: 35px;
    border-radius: 10px;
    color: #fff;
    background-color: #f4791f;
}

a{
    text-decoration: none;
    background-color: #f4791f;
    border-radius: 10px;
    padding: 15px 30px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    display: block;
    text-align: center;
}

a:hover{
    background-color: transparent;
    border: 2px solid #f4791f;
    color: #f4791f;
}